<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Administrador</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-cadProduto.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='images/cupcake.png') }}" type="image/png">
</head>
<body>
    <div>       
        <!-- Barra de navegação -->
        <div class="nav-buttons">
            <form id="form-listar-produtos">
                <input type="button" value="Listar produtos" onclick="showSection('listar-produtos')">
            </form>
            <form id="form-cadastrar-produto">
                <input type="button" value="Cadastrar produtos" onclick="showSection('cadastrar-produto')">
            </form>
            <form id="form-listar-pedidos">
                <input type="button" value="Listar Pedidos" onclick="showSection('listar-pedidos')">
            </form>
        </div>

        <!-- Seções de conteúdo que aparecerão abaixo -->
        <div id="listar-produtos" class="content-section">
        <div class="product-list">
            <div class="product-list-header">
                <div class="header-item">Código</div>
                <div class="header-item">Nome</div>
                <div class="header-item">Preço</div>
                <div class="header-item">Quantidade</div>
                <div class="header-item">Descrição</div>
                <div class="header-item">Imagem</div>
            </div>
            {% if produtos %}
    {% for produto in produtos %}
        <div class="product-item">
            <div class="product-column">{{ produto['ID'] }}</div>
            <div class="product-column">{{ produto['PRODUTO'] }}</div>
            <div class="product-column">R$ {{ produto['PRECO'] }}</div>
            <div class="product-column">{{ produto['QUANTIDADE'] }}</div>
            <div class="product-column">{{ produto['DESCRICAO'] }}</div>
            <div class="product-column">
                <img src="data:image/jpeg;base64,{{ produto['IMAGEM'] }}" alt="Doce" class="imagem-doce">
            </div>
            <div class="product-column">
                <a href="{{ url_for('cadastroProduto.editar_produto', produto_id=produto['ID']) }}">Editar</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Nenhum produto encontrado.</p>
{% endif %}
        </div>
    </div>

        <div id="cadastrar-produto" class="content-section">
            <h2>Cadastro de Produto</h2>
            <form action="{{url_for('cadastroProduto.adicionar_prod')}}" method="post" enctype="multipart/form-data">
                <label for= "nome">Nome do Produto:</label><br>
                <input type="text" id="produto" name="produto" required><br><br>
        
                <label for="preco">Preço:</label><br>
                <input type="number" id="preco" name="preco" step="0.01" required><br><br>
        
                <label for="descricao">Descrição:</label><br>
                <textarea id="descricao" name="descricao" rows="4" required></textarea><br><br>
        
                <label for="quantidade">Quantidade:</label><br>
                <input type="number" id="quantidade" name="quantidade" required><br><br>
        
                <!-- Adicionando o upload de imagem -->
                <label for="image">Selecione uma imagem:</label><br>
                <input type="file" name="imagem" required><br><br>
                <input type="submit" value="Cadastrar">

            </form>
        </div>

        <div id="listar-pedidos" class="content-section">
            <h2>Lista de Pedidos</h2>
            <!-- Conteúdo da lista de pedidos -->
            <!-- Insira o conteúdo da lista de pedidos aqui -->
        </div>
    </div>

    <script>
        // Função para mostrar a seção ativa
        function showSection(sectionId) {
            // Esconder todas as seções
            const sections = document.querySelectorAll('.content-section');
            sections.forEach(section => section.classList.remove('active'));

            // Mostrar a seção selecionada
            const activeSection = document.getElementById(sectionId);
            activeSection.classList.add('active');
        }
    </script>
</body>
</html>
