<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">

        <title>Cadastro | Doce Impacto</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style-cadastro.css')}}" type="text/css">

        <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">

    </head>

    <body>
        <div class="box">

            <form action="{{url_for('cadastro.criar_usuario')}}" method="POST">

                <fieldset>

                    <legend><b>Doce Casdastro</b></legend>
                    <br>

                    <div class="inputBox">
                        <input type="text" name="nome" id="nome" class="inputUser" required>
                        <label for="nome" class="label-input">Nome</label>
                    </div>
                    <br></br>

                    <div class="inputBox">
                        <input type="email" name="email" id="email" class="inputUser" required>
                        <label for="email" class="label-input">Email</label>
                    </div>
                    <br></br>

                    <div class="inputBox">
                        <input type="password" name="senha" id="senha" class="inputUser" required>
                        <label for="senha" class="label-input">Senha</label>
                    </div>
                    <br></br>

                    <div class="inputBox">
                        <input type="tel" name="telefone" id="telefone" class="inputUser" required maxlength="15" pattern="\(\d{2}\)\d{5}-\d{4}">
                        <label for="telefone" class="label-input">Telefone</label>
                    </div>
                    <br>

                    <div class="inputBox">
                        <label for="genero" class="label-input">Sexo</label><br>
                        <select name="genero" id="genero" required>
                            <option value="">Selecione</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="Ou">Outro</option>
                        </select>
                    </div>
                    <br><br>

                    <div class="inputBox">
                        <label for="curso_cargo" class="label-input">Curso</label><br>
                        <select name="curso_cargo" id="curso_cargo" required>
                            <option value="">Selecione</option>
                            <option value="ADS">Análise e Desenvolvimento de Sistemas</option>
                            <option value="CC">Ciência da Computação</option>
                            <option value="ADM">Administração</option>
                            <option value="SI">Sistema da Informação</option>
                            <option value="BD">Banco de Dados</option>
                            <option value="COLAB">Colaborador(a)</option>
                        </select>
                    </div>
                    <br><br>

                    <div class="inputBox">
                        <label for="turno" class="label-input">Turno</label><br>
                        <select name="turno" id="turno" required>
                            <option value="">Selecione</option>
                            <option value="Manhã">Manhã</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noite">Noite</option>
                        </select>
                    </div>
                    <br><br>

                    <label for="data_nasc">Data de Nascimento</label><br>
                    <input type="date" name="data_nasc" id="data_nasc" required>
                    <br><br>

                    <input type="submit" name="submit" id="submit">

                </fieldset>
            </form>
        </div>
    </body>

</html>

<script>
    document.getElementById('telefone').addEventListener('input', function (e) {
        let telefone = e.target.value.replace(/\D/g, ""); 
        telefone = telefone.replace(/^(\d{2})(\d)/g, "($1)$2"); 
        telefone = telefone.replace(/(\d{5})(\d)/, "$1-$2"); 
        e.target.value = telefone.substring(0, 14); 
    });
    
    document.querySelector('form').addEventListener('submit', function (e) {
    let telefoneInput = document.getElementById('telefone');
    let telefoneLimpo = telefoneInput.value.replace(/\D/g, ''); // Remove formatação
    telefoneInput.value = telefoneLimpo; // Atualiza o valor do input com o número limpo
});
    </script>
    