<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style-carrinho.css')}}" type="text/css">
    <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">
    {% extends 'index.html' %}   
    {% block title %}Carinho de Compras | Doce Impacto{% endblock %}
</head>
<body>

  {% block content %}
    <h1>Seu Carrinho de Compras</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <table id="produtos">
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Preço Total</th>
            <th>Imagem</th>
        </tr>
        {% for item in carrinho %}
        <tr>
            <td>{{ item['nome'] }}</td>
            <td>{{ item['quantidade'] }}</td>
            <td>R$ {{ item['preco'] }}</td>
            <td>R$ {{ item['quantidade'] * item['preco'] }}</td>
            <td>
                <img src="data:image/jpeg;base64,{{ item['imagem'] }}" alt="Imagem" style="width: 100px; height: auto;">
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Seu carrinho está vazio!</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Total: R$ {{ total }}</h2>  

    <form action="{{ url_for('cadastroProduto.limpar_carrinho') }}" method="POST">
      <button type="submit">Limpar Carrinho</button>
    </form>

      <form action="{{ url_for('pedidos.resumo_pedido') }}" method="GET">
        <button type="submit">Finalizar Comprar</button>
      </form>

      <form action="{{ url_for('cadastroProduto.listar_produto')}}" method="GET">
        <button type="submit">Voltar</button>
      </form>
      <form action="{{ url_for('pedidos.listar_pedidos')}}" method="GET">
        <button type="submit">Pedidos</button>
        </form>
  {% endblock %}    
</body>
</html>
