<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/barra_navegar.css')}}">
    {% block head %}{% endblock %}  
    </head>

    <body>
        <header>
        <nav class="navbar">
            <div class="logo">Doce Impacto</div>
            <div class="menu">
                <a href="{{ url_for('cadastroProduto.listar_produto')}}">Produtos</a>
                <a href="{{ url_for('feedback.feedbacks') }}">FeedBacks</a> 
                <a href="{{ url_for('cadastro.enviar_mensagem') }}">Contato</a>
                <a href="{{ url_for('cadastroProduto.ver_carrinho') }}"><img src="{{url_for('static', filename='images/carrinho.png')}}"alt="Carro"> Carrinho</a>
    
                {% if session.get('usuario_logado') %}
                    <a href="{{ url_for('cadastro.minha_conta') }}">Minha Conta</a>
                {% else %}
                    <a href="{{ url_for('login.login1') }}">Login</a>
                {% endif %}
                
                <a href="javascript:void(0);" id="search-icon">
                    <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="Buscar">
                </a>
                <div id="search-box" class="search-box" style="display:none;">
                    <header class="search">
                        <form action="{{ url_for('cadastroProduto.buscar_produto') }}" method="GET" id="search-form">
                            <input type="text" id="search-input" name="query" placeholder="Digite o nome do produto" onkeypress="handleEnter(event)">
                            <i class="bx bx-search-alt-2" onclick="submitSearch()"></i> <!-- Ícone de busca -->
                        </form>
                    </header>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <p>&copy; 2024 Doce Impacto. Todos os direitos reservados.</p>
</footer>
</html>

<script>
    let lastScroll = 0;
    const navbar = document.querySelector('.navbar'); 

    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > lastScroll) {
           
            navbar.classList.add('navbar-hidden');
        } else {
            
            navbar.classList.remove('navbar-hidden');
        }
        lastScroll = currentScroll;
    });
    document.getElementById('search-icon').onclick = function() {
    var searchBox = document.getElementById('search-box');
    if (searchBox.style.display === 'none' || searchBox.style.display === '') {
        searchBox.style.display = 'flex'; 
    } else {
        searchBox.style.display = 'none'; 
    }
}
function handleEnter(event) {
    if (event.key === 'Enter') {
        event.preventDefault();  
        submitSearch();          
    }
}
function submitSearch() {
    const searchInput = document.getElementById('search-input').value;
    if (searchInput) {
        
        document.getElementById('search-form').submit();
    }
}
</script>
