<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/barra_navegar.css')}}">
    {% block head %}{% endblock %}  
    </head>
    <body>
        <header>
        <!-- Barra de Navegação -->
        <nav class="navbar">
            <div class="logo">Doce Impacto</div>
            <div class="menu">
                <a href="{{ url_for('cadastroProduto.listar_produto')}}">Produtos</a>
                <a href="{{ url_for('login.quemsomos') }}">Quem Somos</a> 
                <a href="{{ url_for('login.home') }}">Contato</a>
                <a href="{{ url_for('cadastroProduto.ver_carrinho') }}"><img src="{{url_for('static', filename='images/carrinho.png')}}"alt="Carro"> Carrinho</a>
    
                {% if session.get('usuario_logado') %}
                    <a href="{{ url_for('pedidos.resumo_pedido') }}">Minha Conta</a>
                {% else %}
                    <a href="{{ url_for('login.login1') }}">Login</a>
                {% endif %}
                
                <a href="{{ url_for('login.home') }}"><img src="{{url_for('static', filename='images/lupa.png')}}" alt="Buscar"></a>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>

<script>
    let lastScroll = 0;
    const navbar = document.querySelector('.navbar'); // Substitua '.navbar' pelo seletor da sua barra de navegação

    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > lastScroll) {
            // Scroll para baixo - esconde a barra
            navbar.classList.add('navbar-hidden');
        } else {
            // Scroll para cima - mostra a barra
            navbar.classList.remove('navbar-hidden');
        }
        lastScroll = currentScroll;
    });
</script>
