<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/barra_navegar.css')}}">
    {% block head %}{% endblock %}  
    </head>

    <body>
        <header>
        <nav class="navbar">
            <div class="logo">Doce Impacto</div>
            <div class="menu">
                <a href="{{ url_for('cadastroProduto.listar_produto')}}">Produtos</a>
                <a href="{{ url_for('feedback.feedbacks') }}">FeedBacks</a> 
                <a href="{{ url_for('login.home') }}">Contato</a>
                <a href="{{ url_for('cadastroProduto.ver_carrinho') }}"><img src="{{url_for('static', filename='images/carrinho.png')}}"alt="Carro"> Carrinho</a>
    
                {% if session.get('usuario_logado') %}
                    <a href="{{ url_for('cadastro.minha_conta') }}">Minha Conta</a>
                {% else %}
                    <a href="{{ url_for('login.login1') }}">Login</a>
                {% endif %}
                
                <a href="javascript:void(0);" id="search-icon">
                    <img src="{{url_for('static', filename='images/lupa.png')}}" alt="Buscar">
                </a>
                <div id="search-box" class="search-box" style="display:none;">
                    <input type="text" id="search-input" placeholder="Digite o nome do produto">
                    <button type="button" id="submit-search" class="btn-search-submit">Buscar</button>
                </div>

            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <p>&copy; 2024 Doce Impacto. Todos os direitos reservados.</p>
</footer>
</html>

<script>
    let lastScroll = 0;
    const navbar = document.querySelector('.navbar'); // Substitua '.navbar' pelo seletor da sua barra de navegação

    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > lastScroll) {
            // Scroll para baixo - esconde a barra
            navbar.classList.add('navbar-hidden');
        } else {
            // Scroll para cima - mostra a barra
            navbar.classList.remove('navbar-hidden');
        }
        lastScroll = currentScroll;
    });
    document.getElementById("search-icon").addEventListener("click", function() {
    document.getElementById("search-box").style.display = "block"; // Exibe a caixa de busca
});

document.getElementById("submit-search").addEventListener("click", function() {
    let searchValue = document.getElementById("search-input").value;
    if (searchValue) {
        window.location.href = "/buscar_produto?query=" + encodeURIComponent(searchValue); // Envia o valor para a URL de busca
    }
});

</script>
