   
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">   
    <link rel="stylesheet" href="{{url_for('static', filename='styles/produto.css')}}" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">
    <title> Produtos | Doce Impacto </title>
{% endblock %}
{% extends 'index.html' %}

<body>
    <main>
{% block content %}
     <div class = "produtos">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
        <div class = "container">
            <h1 class = "lg-title">Nossos produtos deliciosos</h1>
            <p class = "text-light">Explore nosso código de sabores! Cada produto é compilado com ingredientes de alta performance para satisfazer seu paladar em um loop de prazer. Prepare-se para uma sobremesa que vai fazer o seu sistema dar um refresh em cada mordida. Não deixe o erro 404 aparecer no seu carrinho: adicione agora e experimente a doçura que foi feita para você!</p>

            <div class = "produto-items">   
                {% for produto in produtos %}
                <div class = "produto">
                    <div class = "produto-content">
                        <div class = "produto-img">
                            <img src = "data:image/png;base64,{{produto[5]}}" alt = "Doce" class="imagem-doce">
                        </div>
                    </div>

                    <div class = "produto-info">
                        <div class = "produto-info-top">
                            <h2 class = "sm-title">{{produto[1]}}</h2>
                            <div class = "avaliacao">
                                <span><i class='bx bxs-star'></i></span>
                                <span><i class='bx bxs-star'></i></span>
                                <span><i class='bx bxs-star'></i></span>
                                <span><i class='bx bxs-star'></i></span>
                                <span><i class='bx bxs-star'></i></span>
                            </div>
                        </div>
                        <p class = "produto-descricao">{{produto[3]}}</p>
                        <p class = "produto-preco">R$ {{produto[2]}}</p>
                        <p class = "produto-preco">Estoque: {{produto[4]}}</p>
                        <div class = "produto-btne">
                            <form action="{{ url_for('cadastroProduto.add_to_cart', produto_id=produto[0]) }}" method="POST">
                                <button type = "submit" class = "btn-cart" onclick="enviarAoCarrinho({{produto[0]}}, {{produto[2]}})"> adicione ao carrinho
                                    <span><i class='bx bxs-cart'></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>Nenhum produto encontrado.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 
</main>
</body>
</html>

<script type="text/javascript">

    function retirarQtde(id, preco) {
            const inputQtd = document.getElementById("qtd" + id);

            var qtd = parseInt(inputQtd.value);

            if(qtd > 0) {
                qtd -= 1;
                inputQtd.value = qtd;
            }
        }

        function adicionarQtde(id, maxQtde, preco) {
            const inputQtd = document.getElementById("qtd" + id);
            var qtd = parseInt(inputQtd.value);

            if(qtd < maxQtde) {
                qtd += 1;
                inputQtd.value = qtd;
            }
        }

        ocument.addEventListener('DOMContentLoaded', function() {
        const alerts = document.querySelectorAll('.alert'); // Seleciona todas as mensagens de alerta

        alerts.forEach(function(alert) {
            setTimeout(function() {
                alert.classList.add('hide'); 
            }, 5000); 
        });
    });
</script>
