{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <title>Minha Conta | Doce Impacto</title>
{% endblock %}

{% block content %}
<div class="container">
  
    <div class="profile-header">
        <h1>Minha Conta</h1>

    <div class="profile-info">
        <div class="info-item">
            <strong>Nome:</strong> 
            <span>{{ usuario.nome }} </span>
        </div>
        <div class="info-item">
            <strong>Email:</strong>
            <span>{{ usuario.email }}</span>  
        </div>
        <div class="info-item">
            <strong>Gênero:</strong>
            <span>{% if usuario.sexo == 'M' %}Masculino{% elif usuario.sexo == 'F' %}Feminino{% else %} Outro {% endif %}</span> 
        </div> 
        <div class="info-item">
            <strong>Data de Nascimento:</strong>
            <span>{{ usuario.data_nasc }}</span>  
        </div>
        <div class="info-item">
            <strong>Telefone:</strong>
            <span>{{ usuario.telefone }}</span>
        </div>
        <div class="info-item">
            <strong>Curso/Cargo:</strong>
            <span>{{ usuario.curso_cargo }}</span>  
        </div>
        <div class="info-item">
            <strong>Turno:</strong>
            <span>{% if usuario.turno == 'M' %}Manhã{% elif usuario.turno == 'T' %}Tarde{% elif usuario.turno == 'N' %}Noite{% else %}Não especificado{% endif %}</span>  
        </div>
    </div>
            <div class="actions">
                <div class="edit-button">
                    <a href="{{ url_for('cadastro.editar_dados') }}" class="btn">Editar Conta</a>
                    <a href="{{ url_for('pedidos.meus_pedidos') }}" class="btn">Meus Pedidos</a>
                </div>
                <a href="{{ url_for('login.logout') }}" class="btn btn-danger">Sair</a>
            </div>
   </div>
  </div>
{% endblock %}
