{% extends 'index.html' %}

    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo do Pedido</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/resumo_pedido.css')}}" type="text/css">
    <link rel="icon" href="{{url_for('static', filename='images/cupcake.png')}}" type="image/png">
    {% endblock %}
<body>
    <main>
    {% block content %}
    <h1>Resumo do Pedido</h1>

    <div class="container">
        <!-- Forma de Pagamento -->
        <div class="forma-pagamento">
            <h2>Forma de Pagamento</h2>
            <form action="{{ url_for('pedidos.finalizar_compra') }}" method="POST">
                <label>
                    <input type="radio" name="pagamento" value="pix" required> PIX
                </label>
                <label>
                    <input type="radio" name="pagamento" value="cartao"> Cartão de Crédito
                </label>
                <label>
                    <input type="radio" name="pagamento" value="boleto"> Boleto
                </label>
                <button type="submit" class="button-finalizar">Finalizar Compra</button>
            </form>
        </div>
    
        <div class="detalhes-pedido">
        <h2>Detalhes do Pedido</h2>
        <table class="tabels-produtos">
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Preço Total</th>
        </tr>
        {% for item in carrinho %}
        <tr>
            <td>{{ item['nome'] }}</td>
            <td>{{ item['quantidade'] }}</td>
            <td>R$ {{ item['preco'] }}</td>
            <td>R$ {{ item['quantidade'] * item['preco'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="total">Total:</td>
            <td class="total">R$ {{ total }}</td>
        </tr>
    </table>

    <form action="{{ url_for('cadastroProduto.ver_carrinho') }}" method="GET">
        <button type="submit" class="button-voltar">Voltar ao Carrinho</button>
    </form>
    {% endblock %} 
</main>
</body>
</html>
