/* Estilo geral do contêiner */
body {
    background-color: #f7e9e3;
}

.container-carrinho {
    width: 90%;

    border: 2px solid #D3C0E8;
    padding: 20px;
    border-radius: 8px;
    background-color: #FAF3F5;
    margin: 0 auto;
}

/* Barra de progresso */
.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-bar .step {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #D09F9F;
    color: #FFF;
    border-radius: 50px;
    font-weight: bold;
}

.progress-bar .step.active {
    background-color: #A45B5B;
}

/* Título do carrinho */
.title-carrinho {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #804D4D;
}

/* Tabela de produtos */
.produtos {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.produtos th,
.produtos td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    color: #555;
}
.produtos th {
    color: #804D4D;
    font-weight: bold;
}

.produtos .produto-img {
    display: block;
    margin: 0 auto;
    max-width: 60px;
    max-height: 60px;
}
.produtos .produto-nome {
    font-weight: bold;
    color: #804D4D;
}
.produtos .produto-nome-banco {
    text-align: left;
    padding-left: 20px;
    white-space: nowrap;
}
.produtos .produto-preco,
.produtos .produto-total {
    color: #804D4D;
}

.produtos .quantidade {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.produtos .quantidade button {
    background-color: #A45B5B;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.produtos .quantidade input {
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

/* Subtotal e total */
.totais {
    display: flex;
    justify-content: flex-end;
    color: #555;
    font-weight: bold;
    margin-top: 10px;
    padding-inline: 60px;
}

.totais .valor {
    font-size: 1.2em;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.botoes button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
}

.botoes .btn-continuar {
    background-color: #D09F9F;
}
.botoes .btn-limpar {
    background-color: #D09F9F;
}

.botoes .btn-finalizar {
    background-color: #A45B5B;
}

.quantidade button {
    background-color: #f17777;
    color: rgb(240, 127, 127);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.quantidade button:hover {
    background-color: #A45B5B;
}

form {
    display: inline-block;
    margin: 0 5px;
}

/* Mensagens de erro ou sucesso */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial';
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeOut 5s forwards;
}

.alert-danger {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho */
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda; /* Fundo verde claro */
    color: #155724; /* Texto verde */
    border: 1px solid #c3e6cb;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}